/target
/run
/node_modules
/.shadow-cljs/
/shadow-cljs.edn
/package.json
/package-lock.json
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.idea/*
!/.idea/codeStyleSettings.xml
