{:paths   ["src"]
 :deps    {org.clojure/clojure  {:mvn/version "1.11.1"}
           re-frame/re-frame    {:mvn/version "1.4.3"}
           babashka/process     {:mvn/version "0.5.22"}
           babashka/fs          {:mvn/version "0.5.22"}
           http-kit/http-kit    {:mvn/version "2.8.0"}
           thheller/shadow-cljs {:mvn/version "2.28.2"}
           org.jsoup/jsoup      {:mvn/version "1.17.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :exec-fn     day8.chrome-shadow-test-runner/run
                  :exec-args   {:test-dir    "run/resources/public/js/test"
                                :chrome-path "chromium"}}}}
